<div class="container-fluid background">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-3 infos">
        <h4 class="categoriessubheader">My Account</h4>
        <ul class="liststyle">
          <li class="">My Account</li>
          <li class="">Cart</li>
          <li class="">Order History</li>
          <li class="">Login</li>
          <li class="">Register</li>
        </ul>
      </div>
      <div class="col-md-4 infos">
        <h4 class="categoriessubheader">Contact Us</h4>
        <ul class="liststyle">
          <li class="">KPN Farm Fresh Pvt Ltd.</li>
          <li class="">No.107, Chettiyar Agaram Street,</li>
          <li class="">Noombal Village, Vanagaram,</li>
          <li class="">Chennai - 600 077,</li>
          <li class="">Tamilnadu, South India.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid footer">
    <h5 class="text-center footertext">OnlineFishMart@2020</h5>
  </div>