<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="container-fluid">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../assets/images/fish20.jpg" alt="Los Angeles" style="width:100%;height:450px;">
      </div>

      <div class="item">
        <img src="../../assets/images/fish2.jpg" alt="Chicago" style="width:100%;height:450px;">
      </div>

      <div class="item">
        <img src="../../assets/images/fish3.jpg" alt="New york" style="width:100%;height:450px;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container">
  <h3 class="text-center categoriesheader">Fish By category</h3>
  <div class="row">
    <div class="col-md-3 cat-list" (click)="category()">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish11.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Prawns</h4>
          <p class="categoriesdetail">Prawn White Medium / whole White prawns 50/55 count pcs / kg / Eral Big Tiger
            Prawns 23-25pcs
            / kg Big Tiger Prawns 15-20pcs / kg Prawn White / Eral Small whole</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish5.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">small Fish</h4>
          <p class="categoriesdetail">Indian Salmon Small / Kaala Fish Sardine / Mathi / Chalai-Kerala Indian Salmon Big
            /
            Kaala Fish Japanese Thread Fin Bream Small / Sankara fish Malabar Travelly Small whole </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish6.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body ">
          <h4 class="card-text categoriessubheader">Live Fish</h4>
          <p class="categoriesdetail">Live Lobster king Size 1 pc / kg Live Murrel fish / Viral fish Live Rock Lobster 4
            To 5 Pcs/Kg Indian Spiny
            Loach / Ayira Meen Live Live Mussels / Kallumakkaya</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish7.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Fresh Water Fish</h4>
          <p class="categoriesdetail">Tilapia / Jalebi Kendai Mrigal fish / Carp / White Rohu Tilapia Boneless Fresh
            Water Pomfret /
            Yeri Vaval 500 gm to 750 gm Fresh Water Pomfret / Yeri Vaval Large </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish8.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Crabs</h4>
          <p class="categoriesdetail">Sea Crab 4-5 pcs / Kg / Nandu Crab Stick-Gadre Sea Crab 2-3 pcs /
            Kg / Nandu Crab Lollipop Sea Crab 6-8 pcs / Kg / Nandu </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish9.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Exotic Fish</h4>
          <p class="categoriesdetail">Indian Salmon Small / Kaala Fish Jumbo White Prawns 35 /40 pcs / Kg / Eral Sea
            Bass
            / Asal Koduva Boneless Sea Bass / Asal Koduva fish Indian Salmon Big / Kaala Fish</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish10.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Imported Fish</h4>
          <p class="categoriesdetail">Atlantic Salmon Fillets Packet Crab Lollipop Atlantic Salmon fish fillets Portion
            Crab Stick-Gadre
            Crumbed Fish Fingers Fish Popups Fish 65 Basa Fillet Pink / Vietnam</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish4.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Fish Combos</h4>
          <p class="categoriesdetail">Salmon Fish / OMEGA3 Combo VFM Fish / Prawns Combo 3 VFM Fish / Prawns Combo 1
            Fresh Water Pomfret /
            Aeri Vawal Offer High Protein Combo Quail Eggs / Shrimps Combo</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish12.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Flat Fish</h4>
          <p class="categoriesdetail">Tilapia / Jalebi Kendai Chinese Pomfret Large / Chinese Vaval Fresh Water Pomfret
            /
            Yeri Vaval 500 gm to 750 gm Fresh Water Pomfret / Yeri Vaval Large</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish14.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Boneless Fish</h4>
          <p class="categoriesdetail">Seer Fish Medium Boneless Sea Bass / Asal Koduva Boneless Tilapia Boneless Indian
            Salmon Big /
            Kaala Fish Boneless Grouper 1 To 3kg Size / Kalavai Boneless</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/fish16.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Big Fish</h4>
          <p class="categoriesdetail">Sea Bass / Asal Koduva fish Sea Bass / Asal Koduva Boneless Mahi Mahi / Parla fish
            Parrot Fish
            / Kili meen Indian Salmon Big / Kaala Fish Boneless Tomato Grouper fish </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat-list">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/images/crab.jpg" alt="Card image cap" style="height:165px">
        <div class="card-body">
          <h4 class="card-text categoriessubheader">Live Crabs</h4>
          <p class="categoriesdetail">Live Crabs 5 pcs / kg / Live Mud Crabs Live Green Crabs 3 pcs / kg / Pachai Nandu
            Live Green Crab 6 to 8
            pcs / Kg / Pachai Nandu</p>
        </div>
      </div>
    </div>



  </div>
</div>
<br>

