<div class="container">
    <h3 class="navigation"><i class="fa fa-arrow-left" (click)="catback()" aria-hidden="true"></i>&nbsp;&nbsp;Home/ <span class="categoriesheader">Prawns</span></h3>
    <h3 class="categoriesheader">Prawns</h3>
    <p class="categoriesdetails">Different types of prawns like white prawns, tiger prawns, jumbo prawns, flower prawns
        are
        available for home delivery</p>
    <div class="row">
        <div class="col-md-4 cat-list" (click)="subCategory()">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="../../assets/images/prawn1.jpg" alt="Card image cap"
                    style="height:283px">
                <div class="card-body">
                    <h4 class="card-text categoriessubheader">Prawn White Medium Peeled and deveined</h4>
                    <p class="categoriesdetail">Prawn White Medium / whole White prawns 50/55 count pcs / kg / Eral Big
                        Tiger
                        Prawns 23-25pcs
                        / kg Big Tiger Prawns 15-20pcs / kg Prawn White / Eral Small whole</p>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Gross Wt: 500 gm</p>
                        <h3 class="price">
                            $ 750
                        </h3>
                    </div>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Net Wt: 250 gm to 300 gm</p>
                        <button type="button" class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cat-list">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="../../assets/images/prawn2.jpg" alt="Card image cap"
                    style="height:283px">
                <div class="card-body">
                    <h4 class="card-text categoriessubheader">Prawn White Medium / whole</h4>
                    <p class="categoriesdetail">Prawn White Medium / whole White prawns 50/55 count pcs / kg / Eral Big
                        Tiger
                        Prawns 23-25pcs
                        / kg Big Tiger Prawns 15-20pcs / kg Prawn White / Eral Small whole</p>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Gross Wt: 500 gm</p>
                        <h3 class="price">
                            $ 750
                        </h3>
                    </div>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Net Wt: 250 gm to 300 gm</p>
                        <button type="button" class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cat-list">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="../../assets/images/prawn3.jpg" alt="Card image cap"
                    style="height:283px">
                <div class="card-body">
                    <h4 class="card-text categoriessubheader">Prawn White / Eral Small whole</h4>
                    <p class="categoriesdetail">Prawn White Medium / whole White prawns 50/55 count pcs / kg / Eral Big
                        Tiger
                        Prawns 23-25pcs
                        / kg Big Tiger Prawns 15-20pcs / kg Prawn White / Eral Small whole</p>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Gross Wt: 500 gm</p>
                        <h3 class="price">
                            $ 750
                        </h3>
                    </div>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Net Wt: 250 gm to 300 gm</p>
                        <button type="button" class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cat-list">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="../../assets/images/prawn4.jpg" alt="Card image cap"
                    style="height:283px">
                <div class="card-body">
                    <h4 class="card-text categoriessubheader">Big Tiger Prawns 15-20pcs / kg</h4>
                    <p class="categoriesdetail">Prawn White Medium / whole White prawns 50/55 count pcs / kg / Eral Big
                        Tiger
                        Prawns 23-25pcs
                        / kg Big Tiger Prawns 15-20pcs / kg Prawn White / Eral Small whole</p>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Gross Wt: 500 gm</p>
                        <h3 class="price">
                            $ 750
                        </h3>
                    </div>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Net Wt: 250 gm to 300 gm</p>
                        <button type="button" class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cat-list">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="../../assets/images/prawn5.jpg" alt="Card image cap"
                    style="height:283px">
                <div class="card-body">
                    <h4 class="card-text categoriessubheader">Big White prawns 40 / 45 pcs / kg</h4>
                    <p class="categoriesdetail">Prawn White Medium / whole White prawns 50/55 count pcs / kg / Eral Big
                        Tiger
                        Prawns 23-25pcs
                        / kg Big Tiger Prawns 15-20pcs / kg Prawn White / Eral Small whole</p>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Gross Wt: 500 gm</p>
                        <h3 class="price">
                            $ 750
                        </h3>
                    </div>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Net Wt: 250 gm to 300 gm</p>
                        <button type="button" class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cat-list">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="../../assets/images/prawn6.jpg" alt="Card image cap"
                    style="height:283px">
                <div class="card-body">
                    <h4 class="card-text categoriessubheader">Jumbo Flower Prawns 20 Pcs / Kg / Eral</h4>
                    <p class="categoriesdetail">Prawn White Medium / whole White prawns 50/55 count pcs / kg / Eral Big
                        Tiger
                        Prawns 23-25pcs
                        / kg Big Tiger Prawns 15-20pcs / kg Prawn White / Eral Small whole</p>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Gross Wt: 500 gm</p>
                        <h3 class="price">
                            $ 750
                        </h3>
                    </div>
                    <div class="col-md-6 subheader">
                        <p class="card-text categoriessubheaders">Net Wt: 250 gm to 300 gm</p>
                        <button type="button" class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>